.notification{
        background: lightgrey;
        font-size: 20px;
        border-style: solid;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
}
.notification.error{
        color: red;
}
.notification.success{
        color: green;
}